<div id="fridge"></div>

<ul class="magnets">
  <% @magnets.each do |m| %>
    <li class="magnet" id="<%= m.id %>"><%= m.content %></li>
  <% end %>
</ul>

<%= form_for @poem, url: {action: "create"}, html: {id: "poem-form"} do |f| %>
  <%= f.submit "Save" %>
<% end %>
