* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: linear-gradient(lightsteelblue, steelblue);
}

#fridge {
  /* TODO: fridge-ify */
  float: left;
  width: 42%;
  height: 96%;
  border: 1px solid black;
  border-radius: 28px;
  margin-right: 12px;
  background-color: white;
  position: relative;
}

.magnets {
  position: relative;
}

.magnet {
  display: inline-block;
  border: 1px solid black;
  border-radius: 2px;
  padding: 4px;
  margin: 4px;
  background-color: white;
}

#draggable {
  cursor: move;
}

#save-fridge {
  position: absolute;
  bottom: 4px;
  right: 4px;
  height: 50px;
  width: 150px;
}
